@{
    ViewBag.Title = "Manager Approval";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="card-body p-4 p-md-5">
    @if (Model != null)
    {
        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Leave Details</h3>
        <div class="form-group m-4">
            <label for="employeeId">Employee ID</label>
            <input type="text" class="form-control" value="@Model.Applicant.Id" disabled>
        </div>
        <div class="form-group m-4">
            <label for="employeeId">Employee Email</label>
            <input type="text" class="form-control" value="@Model.Applicant.Email" disabled>
        </div>
        <div class="form-group m-4">
            <label for="employeeId">Employee Name</label>
            <input type="text" class="form-control" value="@Model.Applicant.FirstName @Model.Applicant.LastName" disabled>
        </div>
        <div class="form-group m-4">
            <label for="startDate">Start Date</label>
            <input type="text" id="startDate" class="form-control" value="@Model.StartDate.ToString()" disabled />
        </div>
        <div class="form-group m-4">
            <label for="endDate">End Date</label>
            <input type="text" id="endDate" class="form-control" value="@Model.EndDate.ToString()" disabled />
        </div>
        <div class="form-group m-4">
            <label for="justification">Justification</label>
            <input type="text" class="form-control" placeholder="Justification" value="@Model.Justification" disabled>
        </div>
        <div class="form-group m-4">
            <label for="status">Status</label>
            <input type="text" class="form-control" placeholder="Status" value="@Model.Status" disabled>
        </div>
        <a type="button" class="btn btn-success btn-lg m-4" href="@Url.Action("Approve", "Manager")/@Model.Id">Approve</a>
        <a type="button" class="btn btn-danger btn-lg m-4" href="@Url.Action("Reject", "Manager")/@Model.Id">Reject</a>
    }

    @if (Model == null)
    {
        <p>Check your email to see leave application matters</p>
    }
</div>